@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold leading-4;
  }

  a {
    @apply text-blue-500 dark:text-blue-300;
  }

  h2 {
    font-size: clamp(1.6rem, 4vw, 2rem);
    @apply font-bold mb-6 text-slate-700;
  }

  p {
    font-size: clamp(0.6rem, 4vw, 1rem);
  }
}
