@import "tailwindcss";

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }


}

@layer utilities {
  html,
  body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }

  details {
    p {
      @apply pl-4;
    }
    a {
      @apply text-slate-50;
    }
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold leading-7;
  }

  a {
    @apply text-blue-500 dark:text-blue-300;
  }

  h2 {
    font-size: clamp(1.6rem, 4vw, 2rem);
    @apply font-bold mb-6 text-slate-700;
  }

  p {
    font-size: clamp(0.6rem, 4vw, 1rem);
  }
}

@layer components {
  .nav-link {
    @apply text-purple-500 dark:text-blue-300 hover:text-purple-700 dark:hover:text-blue-400 font-bold tracking-wide transition-colors duration-200;

    &.active {
      @apply border-fuchsia-950 border-b-2 text-slate-700;
    }

    &.pending {
      @apply text-gray-500 scale-100;
    }

    &.transitioning {
    }
  }
}
